<ion-view view-title="Re:Store">
  <ion-content>

    <div class="card" ng-if="showScan()">
      <div class="item item-divider">
        Scanned QR Data
      </div>
      <div class="item item-text-wrap">
        {{data.currentScan}}
      </div>
    </div>

    <div class="card" ng-if="showScanError()">
      <div class="item item-divider">
        Sorry, there was an error during Scan
      </div>
      <div class="item item-text-wrap">
        {{scanError}}
      </div>
    </div>


    <div class="row" ng-if="showSignPrompt()">
      <div class="col">

        If the scanned data above is correct, please sign.

        <button class="button button-block button-outline button-balanced" on-tap="sign()">Sign</button>

      </div>
    </div>


    <div class="card" ng-if="showSignature()">
      <div class="item item-divider">
        Signature
      </div>
      <div class="item item-text-wrap">
        <img src="{{data.currentSignature}}">
      </div>
    </div>

    <div class="card" ng-if="showSignError()">
      <div class="item item-divider">
        Sorry, there was an error during signing
      </div>
      <div class="item item-text-wrap">
        {{signError}}
      </div>
    </div>


    <div class="row" ng-if="showSavePrompt()">
      <div class="col">

        <button class="button button-block button-outline button-balanced" on-tap="save()">Save</button>

      </div>
    </div>

  </ion-content>
</ion-view>
